body {
  background:   #ffffff;
  font-family: 'Times New Roman', sans-serif; 
}
.container {
    margin-top:50px;
	width: 200px;
    height: 120px;
	padding-left:10px;
	padding-bottom:50px;
}
.container img {
    width: 180%;
    height: auto;
	margin-left:30px;
}
hr{
	height:5px;
	background-color:#003366;
}


.admin {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0b1f42), color-stop(1, #314a69));
	background:-moz-linear-gradient(top, #0b1f42 5%, #314a69 100%);
	background:-webkit-linear-gradient(top, #0b1f42 5%, #314a69 100%);
	background:-o-linear-gradient(top, #0b1f42 5%, #314a69 100%);
	background:-ms-linear-gradient(top, #0b1f42 5%, #314a69 100%);
	background:linear-gradient(to bottom, #0b1f42 5%, #314a69 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b1f42', endColorstr='#314a69',GradientType=0);
	background-color:#0b1f42;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #364d8f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:26px;
	font-weight:bold;
	padding:14px 40px;
	text-decoration:none;
	text-shadow:0px 2px 6px #283966;
}
.admin:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #314a69), color-stop(1, #0b1f42));
	background:-moz-linear-gradient(top, #314a69 5%, #0b1f42 100%);
	background:-webkit-linear-gradient(top, #314a69 5%, #0b1f42 100%);
	background:-o-linear-gradient(top, #314a69 5%, #0b1f42 100%);
	background:-ms-linear-gradient(top, #314a69 5%, #0b1f42 100%);
	background:linear-gradient(to bottom, #314a69 5%, #0b1f42 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#314a69', endColorstr='#0b1f42',GradientType=0);
	background-color:#314a69;
}
.admin:active {
	position:relative;
	top:1px;
}
h1{
	
	font-size:50px;
	color:#0069cc;
}
h2{
	
	font-size:30px;
	color:#0080ff;
}
#hr1{
	height:5px;
	background-color:#003366;
}

       